@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 2.986rem;
  font-weight: 900;
}

h2 {
  font-size: 2.488rem;
  font-weight: 800;
}

h3 {
  font-size: 2.074rem;
  font-weight: 700;
}

h4 {
  font-size: 1.728rem;
  font-weight: 600;
}

h5 {
  font-size: 1.44rem;
  font-weight: 500;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}